/*Icons - http://www.iconarchive.com/show/100-flat-icons-by-graphicloads.1.html*/
@font-face {
    font-family: "MrRoboto";
    src: url('/Roboto-Regular.ttf');
}
body {
    /*font-family: Lato;*/
    font-family: Roboto;
   
}

.lite-layout {
    color: #333333;
    /*width: 100%;
    height: 400px;*/
}

.lite-header {
    width: 100%;
    height: 55px;
    /*the fuck? Why does this change the whole thing?*/
    /*border: 1px solid white; */
}

.lite-header-logo {
    height: 30px;
    width: 200px;
    background-image: url("../assets/images/symphony-logo-nav-blue.svg");
    background-repeat: no-repeat;  
    background-size: 95%;
    margin-top: 10px;
}

.lite-banner {
    width: 100%;
    height: 200px;
    color: white;
    background-image: url('../assets/images/fractal-bg-wide-new.png');
    background-repeat: no-repeat;
    background-position-y: -20px;
    background-size: auto 130%;
    display: inline-block;
    /*border-top: 1px solid white;*/
    /*border: 1px solid white; And this one too. Figure this out.*/
}

.lite-banner p {
    width: 160px;
    height: 60px;
    /*margin-left: 120px;*/
    margin-top: 100px;
    font-size: 3.5em;
}

.lite-body {
    /*padding-top: 20px;
    padding-left: 15%;
    height: 200px;*/
    margin-top: 25px;
    font-size: 14px;
}

.lite-col {
    padding: 10px 20px;
}

.lite-container-row {
    width: 100%;
    height: 60px;
    /*margin-top: 20px;*/
    margin-bottom: 20px;
    font-size: 1em;
}

.lite-container-row input {
    border: 1px solid #a3a3a3;
}

/*.lite-container-row input:focus {
    border: 2px solid #0395a1;
}*/

.lite-container-row2 {
    width: 100%;
    height: 60px;
    /*margin-top: 20px;*/
    font-size: 1em;
}

.lite-button-row {
    margin-top: 15px;
}

.button-style-1 {
    border-radius: 4px;
    /*They keep changing their damn minds about the colors*/
    /*background-color: #0395a1;*/
    background-color: #006caf;
    color: white;
    border: none;
    cursor: pointer;
}

.button_disabled {
    background-color: rgba(3, 149, 161, 0.3);
}

.button-dimensions {
    height: 32px; 
    width: 100px;
}

.spinner-image {
    height:20px;
    width:20px;
    margin-top:2px;
}

.showOnLoading {
    display: block;
}

.hideOnLoading {
    display: none;
}

.lite-link-button {
    /*color: #0395a1;*/
    color: #006caf;
    text-decoration: underline !important;
}

.timeline-content {
    font-size: 14px;
    margin-top: 20px;
}

ion-icon {
    font-size: 16px;
}

/* using a scoped style on the individual page components
breaks the ability to adjust the style on the timeline */
li.completed-icon > div {
    background-color: transparent !important; 
    color: #00557F;
    /*color: #006caf;*/
    /*color="#0395a1"*/
}

.timeline-completed-label {
    /*color: #0395a1;*/
    /*color: #006caf;*/
    color: #00557F;
    font-size: 1.2em;
    position: absolute; 
    top: -3px;
    width: 100%;
}

.timeline-completed-label > a {
    font-weight: bold;
    margin-left: 15px;    
}

p.timeline-current-label {
    color: #006caf;
    font-weight: bold;
    font-size:1.6em;
    position:absolute;
    top:-5px;
}

/* This class is used as a fix for having to position absolutely the 
header text for the timeline element, as it would be misaligned otherwise.  */
.timeline-spacer {
    height: 15px;
}