/*Icons - http://www.iconarchive.com/show/100-flat-icons-by-graphicloads.1.html*/
@font-face {
    font-family: "MrRoboto";
    src: url('/Roboto-Regular.ttf');
}
body {
    font-family: Lato;
   
}

.lite-layout {
    color: #333333;
    width: 100%;
    height: 600px;
}

.lite-header {
    width: 100%;
    height: 55px;
    /*the fuck? Why does this change the whole thing?*/
    /*border: 1px solid white; */
}

.lite-header-logo {
    height: 30px;
    width: 200px;
    background-image: url("../assets/images/symphony-logo-nav-blue.svg");
    background-repeat: no-repeat;  
    background-size: 95%;
    margin-top: 10px;
}

.lite-banner {
    width: 100%;
    height: 200px;
    color: white;
    background-image: url('../assets/images/fractal-bg.png');
    background-repeat: no-repeat;
    background-position-y: -20px;
    display: inline-block;
    /*border-top: 1px solid white;*/
    /*border: 1px solid white; And this one too. Figure this out.*/
}

.lite-banner p {
    width: 160px;
    height: 60px;
    margin-left: 120px;
    margin-top: 100px;
    font-size: 3.5em;
}

.lite-body {
    padding-top: 20px;
    padding-left: 15%;
    height: 200px;
    font-size: 14px;
}

.lite-col {
    padding: 10px 20px;
}

.lite-col p {
    font-size: 1.6em;
    font-weight: bold;
}

.lite-col ul {
    list-style: none;
    margin-top: 15px;
    margin-left: 10px;
}

.lite-col li {
    margin: 10px 0;
    font-size: 1em;
}

.sym-list-bullet {
    float: left;
    height: 20px;
    width: 20px;
    margin-right: 7px;

}

.lite-container-row {
    width: 100%;
    height: 40px;
    margin-top: 20px;
}

.lite-container-row input {
    border: 2px solid #0395a1;
}

.button-style-1 {
    border-radius: 4px;
    background-color: #0395a1;
    color: white;
    border: none;
}

.lite-link-button {
    color: #0395a1;
}

.sym-layout {
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px 50px;
}

.layoutClass {
    background-image: url('../assets/images/apps-bots-on-symphony.png') !important;
    background-position: bottom right !important; 
    background-repeat: no-repeat !important;    
}

.layoutClassStationary {
    background-image: url('../assets/images/apps-bots-on-symphony.png') !important;
    background-position: top 200px right !important; 
    background-repeat: no-repeat !important;    
}

.layoutClassEmail {
    background-image: url('../assets/images/business-solutions-transp.png') !important;
    background-position: top right !important; 
    background-repeat: no-repeat !important;    
}

.whiteWithShadow {
    color: white;
    text-shadow: 1px 1px 2px black;
}

.invisibleLayout {
    background-color: transparent !important;
}

.headerClass {
    background-color: #F5F7F9 !important;
    background-image: url('../assets/images/symphony-logo-nav-light.svg') !important;
    background-size: auto 40px !important;
    background-position: bottom 10px left 10px !important; 
    background-repeat: no-repeat !important;  

}

.header-bg-fix {
    background: #F5F7F9;
}

.contentClass {
    min-height: 600px;
    background-color:transparent;
}

.logoRow {
	height: 75px;
}

.alertRow {
    margin-top: 10px;
}

.standardRow {
	margin-top: 20px;
}

.buttonRow {
	margin-top: 30px;
}

.backButtonCol {
    text-align: right;
    margin-right: 10px;
}

.nextButtonCol {
    text-align: left;
    margin-left: 10px;
}

.p1 {
    font-size: 2.8em;
    text-align: center;
}

.p2 {
    font-size: 2.2em;
    text-align: center;
}

.p3 {
    margin-top:10px;
    font-size:1.6em;
    text-align:center;
}

.p4 {
    margin-top:10px;
    font-size:1.2em;
    text-align:center;
}

.sidebarClass {
    background: white !important;
    border-radius: 10px !important;
    margin:0 10px !important;
    padding-top:15px !important;
    padding-left:5px !important;
}